<div class="encabezado">
  <div class="encabezado__title">
    <img src="/assets/logo.png" alt="" />
  </div>
  <div class="encabezado__rutas">
    <a class="enlace" routerLinkActive="enlace__active" routerLink="/home">
      <img routerLinkActive="enlace__active" src="assets/ini.png" alt="" /> <p>Home</p></a
    >
    <a class="enlace" routerLinkActive="enlace__active" routerLink="/products">
      <img routerLinkActive="enlace__active" src="assets/prod.png" alt="" /><p>Productos</p> </a
    >
    <a class="enlace" routerLinkActive="enlace__active" routerLink="/settings">
      <img routerLinkActive="enlace__active" src="assets/set.png" alt="" /><p>Gestión</p> </a
    >
  </div>
</div>
